# OS-specific files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Logs and temp files
*.log
*.tmp

# Asset and build output folders
assets/*
!assets/.gitkeep

# Misc
*.bak

# Ignore everything in postgres-init except SQL files
postgres-init/*
!postgres-init/*.sql
