{
    # Global options
}

# Access Node API Gateway
:80 {
    # TMForum APIs
    handle_path /tmf-api/accountManagement* {
        reverse_proxy account:8080
    }
    handle_path /tmf-api/agreementManagement* {
        reverse_proxy agreement:8080
    }
    handle_path /tmf-api/customerBillManagement* {
        reverse_proxy customer-bill-management:8080
    }
    handle_path /tmf-api/customerManagement* {
        reverse_proxy customer-management:8080
    }
    handle_path /tmf-api/party* {
        reverse_proxy party-catalog:8080
    }
    handle_path /tmf-api/partyRoleManagement* {
        reverse_proxy party-role:8080
    }
    handle_path /tmf-api/productCatalogManagement* {
        reverse_proxy product-catalog:8080
    }
    handle_path /tmf-api/productInventory* {
        reverse_proxy product-inventory:8080
    }
    handle_path /tmf-api/productOrderingManagement* {
        reverse_proxy product-ordering-management:8080
    }
    handle_path /tmf-api/quoteManagement* {
        reverse_proxy quote:8080
    }
    handle_path /tmf-api/resourceCatalog* {
        reverse_proxy resource-catalog:8080
    }
    handle_path /tmf-api/resourceFunctionActivation* {
        reverse_proxy resource-function-activation:8080
    }
    handle_path /tmf-api/resourceInventoryManagement* {
        reverse_proxy resource-inventory:8080
    }
    handle_path /tmf-api/serviceCatalogManagement* {
        reverse_proxy service-catalog:8080
    }
    handle_path /tmf-api/serviceInventory* {
        reverse_proxy service-inventory:8080
    }
    handle_path /tmf-api/usageManagement* {
        reverse_proxy usage-management:8080
    }

    # DESMOS
    handle_path /desmos* {
        reverse_proxy desmos:8080
    }

    # Fallback
    handle {
        error "Not Found" 404
    }

    log {
        output stdout
    }
}
